*{margin: 0px; padding: 0px;}

.navbar {
	    background-color: #d3e0cd!important;
	    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.brand-icon{
	font-size: 30px !important;
	color: rgba(0,0,0,.3);
}